---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import '@/styles/globals.css'
import { Button } from '@/components/ui/button'
---

<Layout title="About">
  <main class="container">About Page</main>
</Layout>
