---
import { buttonVariants } from '@/components/ui/button'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container space-y-4">
    <a class={buttonVariants()} href="/about">about</a>
    <a class={buttonVariants()} href="/blog/1">blog1</a>
    <a class={buttonVariants()} href="/blog/2">blog2</a>
  </main>
</Layout>
