---
import { buttonVariants } from '@/components/ui/button'
import Layout from '../layouts/Layout.astro'
import Pixi from '@/components/original/pixi'
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <div class="space-y-4">
      <div>
        <a class={buttonVariants()} href="/about">about</a>
        <a class={buttonVariants()} href="/blog/1">blog1</a>
        <a class={buttonVariants()} href="/blog/2">blog2</a>
      </div>

      <div>
        <Pixi client:only="react" />
      </div>
    </div>
  </main>
</Layout>
